<h2 class="font-weight-bold text-center">Add</h2>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
    </div>
    <div *ngIf="formData$ | async as CategoryList">
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <option disabled value="">Select category</option>
                <option *ngFor="let category of CategoryList"
                [value]="category.id">{{category.title}}</option>
            </select>
            <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                <div *ngIf="f.categoryId.errors.required">Category is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" ng-click="reloadRoute()" class="btn btn-primary">Ok</button>
        <img *ngIf="loading" src="" />
        <p></p>
        <button [routerLink]="['/product']" class="btn btn-primary">Back to products</button>
    </div>
</form>